body{
    margin: 0px;
    padding: 0px;
     background-image: url(./image/IN-en-20230724-popsignuptwoweeks-perspective_alpha_website_large.jpg); 
    
}
#rose img{
    width: 145px;
    margin-top: 30px;
    margin-left: 120px;
}
#bomb{
    display: none;
}
 #rose h1{
    
    margin-left: 150px;
    color: red;
    font-size: xxx-large
}
#nav{
    
    display: flex;
    justify-content: space-between;
    
}
#nav #eng{
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-right: 104px;
}
#eng #black{
    background-color:black;
    border:2px solid gray;
    border-radius: 4px;
    color: white;
    width: 94px;
    padding: 8px;

}
#eng #red{
    background-color:red;
    color: white;
    width: 80px;
    height: 35px;
    padding: 6px;
    border-radius: 4px;
}
#uk{
    display: none;
}
#tv{
    text-align: center;
    margin-top: 200px;
    padding-bottom: 150px;

}
#tv h1{
    font-size: 55px;
    color: white;
}
#tv h3{
    margin: 13px;
    font-size: 30px;
    color: white;
}
#tv h4{
    margin: 24px;
    font-size: 24px;
    color: white;
}
#tv button{
    background-color: red;
    padding: 8px;
    width: 250px;
    height: 60px;
    border-radius: 5px;
}
#tv input{
    padding: 8px;
    width: 410px;
    height: 43px;
    background-color: rgba(0, 0, 0, 0.596);
    border: 2px solid black;
    border-radius: 5px
} 
input::placeholder{
    font-size: 21px;
    color: white;
}

#Enjoy{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 150px
}
#Enjoy div{
    width: 45%;
}
#left h1{
    font-size: 48px;
}
#left p{
    font-size: 24px;
}
#right{
  position: relative;
}
#right img{
   width: 100%; 
   position: relative;
   z-index: 2;

}
#right video{
    position: absolute;
    top: 20%;
    left: 13%;
     width: 73%;
     z-index: 1;
     
}
#cont{
    border-top: 8px solid #3f3f3f;
    border-bottom: 8px solid #3f3f3f;
    background-color: black;
}

#rahul{
   background-color: black;
    width: 80%;
    margin: auto;
    position: relative;
}
#rahul #satu img{
    width: 50%;
    margin-top: 18px;
} 
#sandy {
    border: 2px solid grey;
    width: 33%;
    height: 21%;
    position: absolute;
    top: 325px;
    left: 101px;
    border-radius: 20px;
    display: flex;
}
#rahul #sandy h1 {
   width: 20px;
}
#text h5 {
    color: blue;
 padding: 0px;
    
}
#text{
    padding: 0px;
    margin: 0px;
color: white;
}

#text h2{
    margin: 3px;
    padding: 0px;
}
#rahul #sandy img{
    width: 23%;
    margin: 4px 10px 4px 9px;

}
#rahul #icon img{
    margin: 32px;
    width: 31%;
   
}
#icon img{
    width: 200px;
}
#akki{
    position: absolute;
    top: 165px;
    left: 634px;
    color: white;
}
#akki h1{
    margin: 5px;
    font-size: xxx-large;
}
#akki p{
    font-size: 24px;
    margin: 7px;
}
#ok{
    border-bottom: 8px solid #3f3f3f;
    padding-bottom: 80px;
    background-color: black;
}



#car{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 0px;
}
#car div{
    width: 45%;
}
#big h1{
    font-size: 48px;
}
#big p{
    font-size: 24px;
}
#pic{
  position: relative;
}
#pic img{
    margin-left: 35px;
    width: 89%;

}
#pic video{
    position: absolute;
    top: 20%;
    left: 13%;
     width: 73%;
     z-index: 1;
     
}
#bank{
    border-bottom: 8px solid #3f3f3f;
    padding-bottom: 100px;
    background-color: black;
}



#stick{
    background-color: black;
}
#par{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 80%;
    margin: auto;
    margin-top: 0px;
}
#desi img{
    width: 80%;
}
#jana h1{
   margin-bottom: 0px;
    font-size: 50px;
 
}
#jana p{
    font-size: 21px;
}




  /*-------------- mobile version ---------*/

  @media(max-width:600px){

    body{
        background-size: 100%; 
    }

    #rose img{
        width: 109px;
        margin-top: 18px;
        margin-left: 16px;
    }
    #nav #eng{
        display: flex;
        gap: 25px;
        list-style-type: none;
        
    }

    #tv{
       
        margin-top: 50px;
    }
    #tv h1{
        font-size: 35px;

    }
    #tv h3{
        margin: 20px;
        font-size: 20px;
    
    }
    #tv h4{
        margin: 24px;
        font-size: 20px;
    
    }
#tv input{
    padding: 12px;
    width: 264px;
    height: 25px;
}
#tv button{

    margin-top: 20px;
    width: 165px;
    height: 47px
    
}
input::placeholder{
    font-size: 15px;

}
#Enjoy{
  
    width: 95%;
    margin: auto;
    flex-direction: column;
}
#Enjoy div{
    width: 100%;
    text-align: center;
}
#left h1{
    font-size: 30px;
}
#left p{
    font-size: 20px;
}
#right img{
    height: 300px;
 }
 #ok{
    width: 100%;
    text-align: center;
}
#rahul{
     width: 80%;
  
 }
 #rahul #satu img{
    width: 100%;
    margin-top: 181px;
} 
#sandy {
    width: 94%;
    height: 18%;
    top: 355px;
    left: 0px;
    background-color: black;
}

#rahul #sandy h1 {
    width: 20px;
 }
 #text h5 {
    margin: 0px;
     
 }
 #text{
     padding: 0px;
     margin: 0px;
 
 }
 
 #text h2{
    margin: 14px 7px 6px 1px;
    font-size: 14px;
 }
 #rahul #sandy img{
    width: 16%;
}
#rahul #icon img{
    margin: 15px 0px 1px 21px;
    width: 30%;
   
}
#akki{
    top: 0px;
    left: 0px;
}
#akki h1{
    margin: 30px 0px 20px 0px;
    font-size: 28px
}
#akki p{
    font-size: 17px;
    margin: 0px 18px 2px 18px;
}
#car{
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 0px;
}
#car div{
    width: 100%;
}
#big h1{
    margin: 40px 2px 2px 47px;
    padding: 0px;
    font-size: 36px;
}
#big p{
    
    padding: 0px 64px 2px 53px;
    font-size: 17px;
}
#pic img{
    width: 86%;
    z-index:2;
    position: relative;
 }
 #pic video{
    position: absolute;
    top: 13%;
    left: 26%;
    width: 52%;
    z-index: 1;
     }
     #par{
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-top: 0px;
        padding-bottom: 200px;
    }
}
#desi img{
    width: 90%;
}
#jana h1{
    margin-left: 28px;
    font-size: 32px;
 
}
#jana p{
    margin: 21px 33px 2px 33px;
    font-size: 19px;
  }






